* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: calc(100/375*100vw)
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width:600x) and (min-width:200px){
  .header {
    height: 0.70rem;
    color: rgb(255, 255, 255);
    background-color: rgb(63, 81, 181);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.15rem;
  }
  .wraper{
    width: 3.2rem;
    height: 3.4rem;
    margin: 0.4rem auto;
    z-index: 7;
    border-width: 0rem;
    border-style: solid;
    font-weight: normal;
    font-style: normal;
    opacity: 1;
  }
  .text{
    height: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.18rem;
    color: rgb(16, 16, 16);
  }
  .textDark{
    height: 0.54rem;
    text-align: center;
    line-height: 0.54rem;
    margin-top: 0.12rem;
    font-size: 0.18rem;
  }
  .login{
    padding: 0.02rem 0.1rem;
    border-bottom: 0.02rem solid rgb(63, 81, 181);
    color: rgb(63, 81, 181);
  }
  .regristry{
    padding: 0.02rem 0.1rem;
    border-bottom: 0.02rem solid rgba(140, 112, 112, 0.65);;
    color:  rgba(140, 112, 112, 0.65);
  }
  .hopper{
    width: 2.7rem;
    margin: 0.1rem auto !important;
  }
  .hopperInput{
    width: 2.7rem;
    margin: 0 auto;
    border: 0.01rem solid rgba(216, 195, 195, 0.65);
    border-style: solid;
    height: 0.42rem;
    border-radius: 0.05rem;
    line-height: 0.42rem;
    padding-left: 0.1rem;
  }
  .Noentry{
    width: 2.7rem;
    margin: 0.1rem auto;
    height: 0.24rem;
    display: flex;
    align-items: center;
  }
  .checket{
    width: 0.16rem;
    height: 0.16rem;
    margin-right: 0.04rem;
  }
  .moveLogo{
    width: 2.70rem;
    height: 0.42rem;
    line-height: 0.42rem;
    font-size: 0.15rem;
    color: #fff;
    text-align: center;
    margin: 0.15rem auto;
  }
  .button{
    width: 2.70rem;
    height: 0.42rem;
    background: rgb(63, 81, 181);
    border: 0;
    border-radius: 0.05rem;
  }
}

/* 1024px<设备高度  背景为青色*/
@media screen and (max-width: 1920px) and(min-width:375px) {
  .header {
    height: 70px;
    color: rgb(255, 255, 255);
    background-color: rgb(63, 81, 181);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
  .wraper{
    width: 374.5px;
    height: 353.5px;
    margin: 100px auto;
    border-width: 0px;
    border-style: solid;
    font-weight: normal;
    font-style: normal;
    opacity: 1;
  }
  .text{
    height: 54px;
    text-align: center;
    color: rgb(16, 16, 16);
    font-size: 32px;
    line-height: 54px;
  }
  .textDark{
    height: 54px;
    text-align: center;
    line-height: 54px;
    margin-top: 12px;
    font-size: 18px;
  }
  .login{
    padding: 2px 10px;
    border-bottom: 2px solid rgb(63, 81, 181);
    color: rgb(63, 81, 181);
  }
  .regristry{
    padding: 2px 10px;
    border-bottom: 2px solid rgba(140, 112, 112, 0.65);;
    color:  rgba(140, 112, 112, 0.65);
  }
  .hopper{
    width: 270px;
    margin: 10px auto !important;
  }
  .hopperInput{
    width: 270px;
    margin: 0 auto;
    border: 1px solid rgba(216, 195, 195, 0.65);
    border-style: solid;
    height: 42px;
    border-radius: 5px;
    line-height: 42px;
    padding-left: 10px;
  }
  .Noentry{
    width: 270px;
    margin: 10px auto;
    height: 24px;
    display: flex;
    align-items: center;
  }
  .checket{
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }
  .moveLogo{
    width: 270px;
    height: 42px;
    line-height: 42px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    margin: 15px auto;
  }
  .button{
    width: 270px;
    height: 42px;
    background: rgb(63, 81, 181);
    border: 0;
    border-radius: 5px;
  }
}
