html,
body {
    width: 100%;
    height: 100%;
    font-size: calc(100/375*100vw);
}

.con {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


/* 手机端 */

@media screen and (max-width:600px) and (min-width:200px) {
    .con .head {
        background: rgb(0, 118, 255);
        height: 0.55rem;
        line-height: 0.55rem;
        text-align: center;
        color: #fff;
        font-size: 0.15rem;
    }
    .con .center .top {
        height: 0.6rem;
        border: #ccc 1px solid;
        display: flex;
        position: relative;
        margin: 0.1rem auto;
    }
    .con .center .top .tea {
        width: 2rem;
        align-items: center;
    }
    .con .center .top input {
        border: 0.01rem solid #cccccc;
        border-radius: 0.1rem;
        width: 1rem;
        height: 0.2rem;
        position: absolute;
        left: 2rem;
        font-size: 0.02rem;
    }
    table {
        height: 0.343rem;
        text-align: center;
        border: #ccc 1px solid;
        margin: 1.7rem auto;
        font-size: 0.04rem;
    }
    table tr td {
        border: none;
    }
    table tr:first-child>td {
        width: 0.5rem;
    }
    table tr {
        height: 0.685rem;
        border: 1px solid #ccc;
    }
}


/* 电脑端 */

@media screen and (max-width: 1920px) and (min-width:375px) {
    .head {
        background: rgb(0, 118, 255);
        height: 80px;
        line-height: 80px;
        text-align: center;
        color: #fff;
        font-size: 20px;
    }
    .center {
        width: 95%;
        height: auto;
        background: #eee;
        margin: 0 auto;
    }
    .con .center .top {
        width: 100%;
        height: 80px;
        text-align: center;
        border: #ccc 1px solid;
        display: flex;
        align-items: center;
        margin: 25px auto;
    }
    .con .center .top .tea {
        width: 24%;
    }
    .top input {
        height: 40px;
        border: 1px solid #cccccc;
        border-radius: 5px;
        text-align: center;
        position: relative;
        /* left: 500px; */
        left: 400px;
    }
    table {
        width: 100%;
        height: 343px;
        text-align: center;
        border: #ccc 1px solid;
        margin: 17px auto;
    }
    table tr td {
        border: none;
    }
    table tr {
        height: 68.5px;
        border: 1px solid #ccc;
    }
    .con .center .shade {
        width: 94%;
        height: 64%;
        background: rgb(0, 0, 0, .5);
        position: absolute;
        left: 3%;
        top: 15%;
        /* display: flex; */
        /* line-height: 64%; */
    }
    .con .center .shade .editorBox {
        width: 30%;
        height: 70%;
        background: firebrick;
        border: 1px solid #ccc;
        margin: 40px auto;
        background: #eee;
        /* align-items: center; */
    }
    .con .center .shade .editorBox ul li {
        list-style: none;
        margin: 17px 0;
    }
    .con .center .shade .editorBox ul li .btn {
        margin: 0 30px;
        background: #fff;
    }
    .con .center .shade .editorBox ul li .btn input {
        border: none;
        text-align: center;
    }
    .con .center .shade .editorBox ul li:nth-child(6) button {
        margin-left: 20px;
        background: #fff;
    }
    /* .active{

    } */
}


/* @media screen and (max-width:960px){
    .top{

    }
} */