* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: calc(100/375*100vw);
}

.content {
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 375px) {
  .header {
    display: flex;
    height: 1rem;
    position: relative;
    margin: 0.15rem 0rem;
    z-index: 1;
    font-size: 0.14rem;
    border: 0.005rem solid rgba(236, 231, 231, 0.65);
    opacity: 1;
    align-items: center;
  }
  .grade {
    width: 0.95rem;
    height: 0.30rem;
    line-height: 0.30rem;
    margin: 0px 1.5%;
    text-align: center;
    background-color: #e6f1fc;
    border-radius: 0.04rem;
    color: #1989FA;
    border: 0.01rem solid #a3d0fd;
    font-size: 14px;
  }
  .dataCid {
    width: 1.11rem;
    height: 0.30rem;
    line-height: 0.30rem;
    margin: 0px 1%;
    text-align: center;
    font-size: 0.12rem;
  }
  .Create {
    width: 1.2rem;
    height: 0.30rem;
    line-height: 0.30rem;
    margin: 0px 1%;
    border-radius: 0.04rem;
    font-size: 0.14rem;
    border-width: 0.01rem;
    border-style: solid;
    background: #fff;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    opacity: 1;
  }
  .switch {
    position: absolute;
    top: 2%;
    right: 1%;
  }
  .Addto {
    height: auto;
    margin: 2% 0%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.12rem;
  }
  .addSubmit {
    width: 1.0rem;
    height: 0.30rem;
    margin: 0% 1.2%;
    text-align: center;
    line-height: 0.30rem;
  }
  .ipt {
    width: 1rem;
    height: 0.30rem;
    margin: 1% 1.2%;
    z-index: 28;
    background-color: white;
    border-radius: 0.4rem;
    font-size: 0.14rem;
    border: 1px solid #dcdfe6;
    text-align: center;
    line-height: 0.30rem;
    font-weight: normal;
    font-style: normal;
    opacity: 1;
  }
  .addBtn {
    width: 0.95rem;
    height: 0.30rem;
    margin: 0% 0% 0% 4%;
    background-color: #e6f1fc;
    border-radius: 0.04rem;
    border: 0.01rem solid #a3d0fd;
    font-size: 0.14rem;
    text-align: center;
    line-height: 0.3rem;
    font-weight: normal;
    font-style: normal;
    opacity: 1;
  }
  :global #mains {
    width: 100%;
    height: 5rem !important;
  }
  .bottom {
    height: 0.5rem;
    display: flex;
    align-items: center;
    background-color: #f2f1f1;
  }
  .achievement {
    height: 0.30rem;
    display: inline-block;
    padding: 0rem 0.15rem;
    line-height: 0.30rem;
    margin: 0% 3%;
    border-width: 0.005rem;
    border-style: solid;
    text-align: center;
  }
  :global .mask-change {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -1.50rem;
    width: 3rem;
    height: 3rem;
    line-height: 0.2rem;
    border: 0.01rem solid #ccc;
    background-color: #fff;
    border-radius: 0.04rem;
    display: flex;
    z-index: 30;
    flex-direction: column;
  }
  :global .mask-change h2 {
    font-size: 0.16rem;
    height: 0.35rem;
    line-height: 0.35rem;
    padding-left: 5%;
    margin-bottom: 0.15rem;
  }
  :global .mask-change .mask {
    width: 2.80rem;
    height: 2.5rem;
    margin: 0.05rem auto;
  }
  :global .mask-change .mask-change-inp {
    margin: 0.14rem 0rem;
    display: flex;
    align-items: center;
  }
  :global .mask-change .mask-change-inp label {
    display: inline-block;
    text-align: center;
    width: 0.8rem;
  }
  :global .mask-change .mask-change-inp input {
    width: 2.57rem;
    height: 0.35rem;
    line-height: 0.35rem;
    border-radius: 0.04;
    text-align: center;
    border: 0.01rem solid #ccc;
  }
  :global .mask-change .mask-change-inp .labelAdd {
    height: 0.35rem;
    width: 0.8rem;
    line-height: 0.35rem;
    text-align: center;
    outline: 0;
    border: none;
    border-radius: 0.05rem;
    background: #1890FF;
  }
  :global .mask-change .mask-change-inp textarea {
    width: 2.57rem;
    height: 0.43rem;
    line-height: 0.2rem;
    border-radius: 0.04rem;
    background-color: white;
    text-align: center;
    border: 0.01rem solid #dcdfe6;
  }
  :global .mask-change .mask-change-btns {
    margin-top: 0.01rem;
    flex: 6;
    display: flex;
    justify-content: flex-end;
    padding-right: 0.50rem;
  }
  :global .mask-change .mask-change-btns button {
    height: 0.35rem;
    width: 1rem;
    margin-left: 0.2rem;
    outline: 0;
    border: none;
    border-radius: 0.05rem;
  }
}

@media screen and (max-width: 1920px) and (min-width: 375px) {
  .header {
    display: flex;
    height: 126px;
    border: 0.5px solid rgba(236, 231, 231, 0.65);
    position: relative;
    margin: 15px 0px;
    z-index: 1;
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    opacity: 1;
    align-items: center;
  }
  .grade {
    width: 95px;
    height: 50px;
    line-height: 50px;
    margin: 0px 1.5%;
    text-align: center;
    background-color: #e6f1fc;
    border-radius: 4px;
    color: #1989FA;
    border: 1px solid #a3d0fd;
    font-size: 14px;
  }
  .dataCid {
    width: 95px;
    height: 50px;
    line-height: 50px;
    margin: 0px 1%;
    text-align: center;
    font-size: 14px;
  }
  .Create {
    width: 95px;
    height: 50px;
    line-height: 50px;
    margin: 0px 1%;
    border-radius: 4px;
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    background: #fff;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    opacity: 1;
  }
  .switch {
    position: absolute;
    top: 22%;
    right: 3%;
  }
  .Addto {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 2% 0%;
    display: flex;
    align-items: center;
    font-size: 12px;
  }
  .addSubmit {
    width: 150px;
    height: 30px;
    margin: 1% 1.2%;
    text-align: center;
    line-height: 030px;
  }
  .ipt {
    width: 180px;
    height: 30px;
    margin: 1% 1.5%;
    z-index: 28;
    background-color: white;
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid #dcdfe6;
    text-align: center;
    line-height: 30px;
    font-weight: normal;
    font-style: normal;
    opacity: 1;
  }
  .addBtn {
    width: 95px;
    height: 30px;
    margin: 1% 0% 0% 4%;
    background-color: #e6f1fc;
    border-radius: 4px;
    border: 1px solid #a3d0fd;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    font-weight: normal;
    font-style: normal;
    opacity: 1;
  }
  :global #mains {
    width: 100%;
    height: 500px !important;
  }
  .bottom {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #f2f1f1;
  }
  .achievement {
    height: 30px;
    display: inline-block;
    padding: 0px 15px;
    line-height: 30px;
    margin: 0% 3%;
    border-width: 0.5px;
    border-style: solid;
    text-align: center;
  }
  :global .mask-change {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -260px;
    width: 400px;
    height: 300px;
    line-height: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    z-index: 30;
    flex-direction: column;
  }
  :global .mask-change h2 {
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    padding-left: 5%;
    margin-bottom: 15px;
  }
  :global .mask-change .mask {
    width: 320px;
    height: 250px;
    margin: 5px auto;
  }
  :global .mask-change .mask-change-inp {
    margin: 15px 0px;
    display: flex;
    align-items: center;
  }
  :global .mask-change .mask-change-inp label {
    display: inline-block;
    text-align: center;
    width: 80px;
  }
  :global .mask-change .mask-change-inp input {
    width: 257px;
    height: 35px;
    line-height: 35px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #ccc;
  }
  :global .mask-change .mask-change-inp .labelAdd {
    height: 35px;
    width: 80px;
    line-height: 35px;
    text-align: center;
    outline: 0;
    border: none;
    border-radius: 5px;
    background: #1890FF;
  }
  :global .mask-change .mask-change-inp textarea {
    width: 257px;
    height: 43px;
    line-height: 20px;
    border-radius: 4px 4px 4px 4px;
    background-color: white;
    text-align: center;
    border: 1px solid #dcdfe6;
  }
  :global .mask-change .mask-change-btns {
    margin-top: 10px;
    flex: 6;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
  }
  :global .mask-change .mask-change-btns button {
    height: 35px;
    width: 100px;
    margin-left: 20px;
    outline: 0;
    border: none;
    border-radius: 5px;
  }
}
